version: "3.8"

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.7.1
    hostname: zookeeper
    container_name: zookeeper
    networks:
      - internal
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
#      ZOOKEEPER_TICK_TIME: 2000
    restart: unless-stopped

  broker:
    image: confluentinc/cp-kafka:7.7.1
    hostname: broker
    container_name: broker
    networks:
      - internal
      - external
    ports:
      - 9092:9092
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
#      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
#      KAFKA_JMX_PORT: 9101
#      KAFKA_JMX_HOSTNAME: localhost
    restart: unless-stopped

  # --- ksql Ecosystem ---
  ksql-server:
    image: confluentinc/cp-ksqldb-server:7.7.1
    hostname: ksql-server
    container_name: ksql-server
    networks:
      - internal
      - external
    ports:
      - 8088:8088
    depends_on:
      - broker
    environment:
      KSQL_CONFIG_DIR: "/etc/ksql"
      KSQL_BOOTSTRAP_SERVERS: "broker:29092"
      KSQL_HOST_NAME: ksql-server
      KSQL_LISTENERS: "http://0.0.0.0:8088"
      KSQL_CACHE_MAX_BYTES_BUFFERING: 0
#      KSQL_KSQL_SCHEMA_REGISTRY_URL: "http://schema-registry:8081"
#      KSQL_PRODUCER_INTERCEPTOR_CLASSES: "io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor"
#      KSQL_CONSUMER_INTERCEPTOR_CLASSES: "io.confluent.monitoring.clients.interceptor.MonitoringConsumerInterceptor"
#      KSQL_KSQL_CONNECT_URL: "http://connect:8083"
#      KSQL_KSQL_LOGGING_PROCESSING_TOPIC_REPLICATION_FACTOR: 1
#      KSQL_KSQL_LOGGING_PROCESSING_TOPIC_AUTO_CREATE: 'true'
#      KSQL_KSQL_LOGGING_PROCESSING_STREAM_AUTO_CREATE: 'true'
    restart: unless-stopped

  ksql-cli:
    image: confluentinc/cp-ksqldb-cli:7.7.1
    hostname: ksql-cli
    container_name: ksql-cli
    networks:
      - internal
    depends_on:
      - ksql-server
    entrypoint: /bin/sh
    tty: true
    restart: unless-stopped

  # --- Flink Ecosystem ---
  jobmanager:
    hostname: jobmanager
    container_name: jobmanager
    build:
      context: ./flink
      dockerfile: Dockerfile
    networks:
      - internal
      - external
    depends_on:
      - broker
    ports:
      - "8181:8081" # Flink Web UI
    volumes:
      - ./flink/opt/flink/process_kafka.py:/opt/flink/process_kafka.py
    command: jobmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
    restart: unless-stopped

  taskmanager:
    hostname: taskmanager
    container_name: taskmanager
    build:
      context: ./flink
      dockerfile: Dockerfile
    networks:
      - internal
    depends_on:
      - jobmanager
    command: taskmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        taskmanager.numberOfTaskSlots: 2
    restart: unless-stopped

  # --- schema-registry Ecosystem ---
  schema-registry:
    hostname: schema-registry
    container_name: schema-registry
    image: confluentinc/cp-schema-registry:7.9.5
    container_name: schema-registry
    networks:
      - internal
      - external
    depends_on:
      - broker
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'broker:29092'
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
    restart: unless-stopped

  # --- streams application Ecosystem ---
  streams:
    hostname: streams
    container_name: streams
    build:
      context: ./streams
      dockerfile: Dockerfile
    networks:
      - internal
      - external
    depends_on:
      - broker
    volumes:
      - ../development/streams/apisl.handson.kafka.streams/RUN_STREAMS.sh:/streams/apisl.handson.kafka.streams/RUN_STREAMS.sh
      - ../development/streams/apisl.handson.kafka.streams/pom.xml:/streams/apisl.handson.kafka.streams/pom.xml
      - ../development/streams/apisl.handson.kafka.streams/src:/streams/apisl.handson.kafka.streams/src
    working_dir: /streams
    entrypoint: ./apisl.handson.kafka.streams/RUN_STREAMS.sh
    restart: unless-stopped

  # --- cdc Ecosystem ---
  debezium:
    image: debezium/connect:3.0.0.Final
    hostname: debezium
    container_name: debezium
    networks:
      - internal
      - external
    ports:
      - 8083:8083
    depends_on:
      - broker
      - mysql
    environment:
      GROUP_ID: 1
      BOOTSTRAP_SERVERS: broker:29092
      CONFIG_STORAGE_TOPIC: _kafka_connect_configs
      OFFSET_STORAGE_TOPIC: _kafka_connect_offsets
      STATUS_STORAGE_TOPIC: _kafka_connect_statuses
    restart: unless-stopped

  mysql:
    image: mysql:8.0
    hostname: mysql
    container_name: mysql
    networks:
      - internal
    volumes:
      - ./mysql/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./mysql/init:/docker-entrypoint-initdb.d
    command: mysqld
    environment:
      MYSQL_ROOT_PASSWORD: ${ROOT_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
      TZ: "Asia/Tokyo"
    restart: unless-stopped

  # --- web ui Ecosystem ---
  control-center:
    image: confluentinc/cp-enterprise-control-center:7.7.1
    hostname: control-center
    container_name: control-center
    networks:
      - internal
      - external
    ports:
      - 9021:9021
    depends_on:
      - broker
      - ksql-server
    environment:
      CONTROL_CENTER_BOOTSTRAP_SERVERS: 'broker:29092'
      CONTROL_CENTER_CONNECT_CONNECT-DEFAULT_CLUSTER: 'debezium:8083'
      CONTROL_CENTER_CONNECT_HEALTHCHECK_ENDPOINT: '/connectors'
      CONTROL_CENTER_KSQL_KSQLDB1_URL: "http://ksql-server:8088"
      CONTROL_CENTER_KSQL_KSQLDB1_ADVERTISED_URL: "http://localhost:8088"
      CONTROL_CENTER_SCHEMA_REGISTRY_URL: "http://schema-registry:8081"
      CONTROL_CENTER_REPLICATION_FACTOR: 1
      CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1
      CONTROL_CENTER_MONITORING_INTERCEPTOR_TOPIC_PARTITIONS: 1
      CONFLUENT_METRICS_TOPIC_REPLICATION: 1
      PORT: 9021
    restart: unless-stopped

networks:
  internal:
    name: intra-net
    driver: bridge
    internal: true
  external:
    name: hands-net
    driver: bridge
